<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" coontent="width=device-width, initial-scal=1.0">
    <title>GestData</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-950 text-white min-h-screen">

    <nav class="bg-gray-950 border-b -border-gray-800 px-8 py-4 flex justify-between items-center">
         <span class="text-xl font-bold text-indigo-400">GestData</span>
         <div class="flex gap-6">
            <a href="/" class="text-gray-300 hover:text-indigo-400 transition">Acceuil</a>
            <a href="/utilisateurs" class="text-gray-300 hover:text-indigo-400 transition">Utilisateurs</a>
         </div>       
    </nav>

    <main class="px-8 py-10">
        {% block content %}{% endblock %}
    </main>

</body>    
</html>