{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col items-center justify-center mt-20 text-center">

    <h1 clas="text-5xl font-bold text-indigo-400 mb-4">GestData</h1>
    <p class="text-gray-400 text-lg mb-8">Une démonstration des enjeux de la vie privée dans les bases de données</p>

    <a href="/utilisateurs" class="bg-indigo-600 hover:bg-indigo-700 transition text-white font-semibold px-6 py-3 rounded-xl">
        Voir les utilisateurs
    </a>


</div>

{% endblock %}